<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<div th:switch="${doctors}">
    <h2 th:case="null">No doctors found!</h2>
    <div th:case="*">
        <h2>Doctors</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}"></td>
                <td th:text="${doctor.name}"></td>
                <td><a th:href="@{update/{id}(id=${doctor.id})}">Edit</a></td>
                <td><a th:href="@{delete/{id}(id=${doctor.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/doctors/create">Create doctor</a></p>
    <p><a href="/main">Main page</a></p>
</div>
</body>
</html>